<script setup>
import ThemeSwitcher from '@/components/ThemeSwitcher.vue'
import { RouterLink } from 'vue-router'
import RadioTvIcon from '@/components/icons/IconRadioTv.vue'
import Social from '@/components/SocialMedia.vue'
import Search from '@/components/ui/TheSearch.vue'
</script>

<template>
  <nav
  class="relative flex w-full flex-nowrap items-center justify-between bg-rt-primary py-8 px-14 drop-shadow-lg shadow-primary-800 dark:shadow-primary-50 border-rt-secondary border-b-[16px] z-10"
  data-te-navbar-ref>
  <div class="flex w-[65vw] mx-auto flex-wrap items-center justify-between">
    
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent3"
      data-te-collapse-item>
      <div class="logo h-auto">
        <a class="text-xl text-surfie-green-50 dark:text-surfie-green-50 flex items-center" href="/">
          <RadioTvIcon
          class="w-24 h-24"
          />
          <span class="text-xl uppercase font-bold w-60 ml-4">Radio e TV Justiça</span>
        </a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex justify-between mb-4">
        <Social class="mr-4" />  
        <ThemeSwitcher />
      </div>
      <Search />
    </div>
    <!-- Collapsible wrapper -->
  </div>
</nav>
</template>