<script setup>

</script>

<template>
	<ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref>
        <li data-te-nav-item-ref>
          <RouterLink to="/"
          class="active text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            aria-current="page"
            href="#"
            data-te-nav-link-ref
          >Inicial</RouterLink>
          
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Programas
          
        </RouterLink>
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Programação
          
        </RouterLink>
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Sobre nós
          
        </RouterLink>
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Sintonize
          
        </RouterLink>
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Notícias
          
        </RouterLink>
        </li>
        <li data-te-nav-item-ref>
          <RouterLink to="/about"
          class="text-sm px-2 py-2 rounded-lg text-azulescuro-800 dark:text-azul-50"
            href="#"
            data-te-nav-link-ref
          >Contato
          
        </RouterLink>
        </li>
        
      </ul>
</template>	