<template>
  <div  class="bg-azul-50 dark:bg-primary-900 text-mercury-900 dark:text-mercury-50 py-6 px-8 about">
    <h1>This is an about page</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
