<script setup lang="ts">
import Destaque from '@/components/leiaute/noticias/DestaquesMain.vue'
import SlideImg from '@/components/ui/SlideImg.vue'
import { PhCaretRight } from '@phosphor-icons/vue'
</script>

<template>
  <div class="bg-surfie-green-50 dark:bg-rt-primary text-mercury-900 dark:text-mercury-50 py-8 px-14">
    <div class="w-[65vw] mx-auto flex gap-5">
      <Destaque />
    </div>
    <div class="w-[65vw] mx-auto flex">
      <div class="mr-4">
        <SlideImg />
      </div>
      <div class="bg-rt-primary dark:bg-surfie-green-200 text-3xl font-bold text-white dark:text-rt-primary flex place-items-center px-2 rounded-lg">
        <!-- <font-awesome-icon icon="chevron-right" /> -->
        <ph-caret-right :size="32" weight="fill" >
          <animate
            attributeName="opacity"
            values="0.5;1;0.5"
            dur="4s"
            repeatCount="indefinite"
          />
        </ph-caret-right>
      </div>
    </div>

  </div>
</template>
