<script setup>
  import Spotify from '@/components/icons/SpotifyIcon.vue'
  import Twitter from '@/components/icons/TwitterIcon.vue'
  import Youtube from '@/components/icons/YoutubeIcon.vue'
  import Instagram from '@/components/icons/InstagramIcon.vue'
</script>

<template>
  <div class="mr-4 h-7 text-azulescuro-800 dark:text-azul-50">
    <ul class="flex gap-2">
      <li class="h-8">
        <a class="text-rt-secondary" href="#" target="_blank" rel="noopener noreferrer">
          <Twitter class="text-rt-secondary" />
        </a>
      </li>
      <li class="h-8">
        <a class="text-rt-secondary" href="#" target="_blank" rel="noopener noreferrer">
          <Youtube class="text-rt-secondary" />
        </a>
      </li>
      <li class="h-8">
        <a class="text-rt-secondary" href="#" target="_blank" rel="noopener noreferrer">
          <Instagram class="text-rt-secondary" />
        </a>
      </li>
      <li class="h-8">
        <a class="text-rt-secondary" href="#" target="_blank" rel="noopener noreferrer">
          <Spotify class="text-rt-secondary" />
        </a>
      </li>
    </ul>
  </div>
</template>