@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 4.5rem);
}

.active {
  font-weight: bold;
}

.logo span {
  letter-spacing: 1px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-surfie-green-100);
    border-radius: .5rem;
  }
  .dark a:hover {
    background-color: var(--color-surfie-green-900);
  }
  .logo a:hover {
    background-color: transparent;
  }
}

#app {
  display: flex;
  flex-direction: column;
}
