<script setup>
 import Principal from '@/components/leiaute/noticias/NoticiaPrincipal.vue'
</script>

<template>
 <div class="w-full mb-8">
  <div class="flex items-center w-full text-rt-primary dark:text-surfie-green-100 text-3xl mb-4">
   <span class="font-bold pb-1 mr-2">Destaques</span>
   <div class="block bg-mercury-200 dark:bg-surfie-green-600 h-1 w-full rounded-md">&nbsp;</div>
  </div>
  <div class="w-2/3">
   <Principal />
  </div>
 </div>
</template>
<style scoped>
 
</style>