<script setup>
import { ref } from 'vue'
</script>

<template>
 <div>
  <div class="relative">
    <img class="w-full rounded-2xl backdrop-brightness-100" src="http://www.stf.jus.br/arquivo/cms/bancoImagemSco/bancoImagemSco_AP_491367.jpg" alt="foto da sede do STF com destaque para estátua da justiça">
    <div class="absolute bottom-4">
      <div class="text-2xl font-semibold text-surfie-green-50 bg-mercury-700/30 p-4">
        Paraná e Itaú chegam a acordo sobre ações dadas em garantia de empréstimo com antigo Banestado
      </div>
    </div>
  </div>
 </div>
</template>
<style scoped>
 
</style>