<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 305.83 305.83" xmlns:xlink="http://www.w3.org/1999/xlink">
	  <path class="fil0" d="M64.7 0l176.44 0c17.8,0 34,7.28 45.71,18.98l1.49 1.63c10.84,11.57 17.5,27.1 17.5,44.09l0 176.43c0,17.82 -7.28,34 -18.98,45.71 -11.71,11.71 -27.89,18.98 -45.71,18.98l-176.44 0c-17.82,0 -34,-7.28 -45.71,-18.98 -11.71,-11.71 -18.98,-27.89 -18.98,-45.71l0 -176.43c0,-17.75 7.28,-33.91 18.98,-45.63l0 -0.09c11.71,-11.71 27.91,-18.98 45.71,-18.98zm88.22 69.72c22.97,0 43.76,9.32 58.82,24.37l1.43 1.56c14.22,14.96 22.95,35.13 22.95,57.26 0,22.97 -9.32,43.76 -24.37,58.82 -15.05,15.05 -35.85,24.37 -58.82,24.37 -22.97,0 -43.76,-9.32 -58.82,-24.37l-1.43 -1.56c-14.21,-14.95 -22.95,-35.13 -22.95,-57.26 0,-22.97 9.32,-43.76 24.37,-58.82 15.05,-15.05 35.85,-24.37 58.82,-24.37zm0 24.46c32.44,0 58.73,26.29 58.73,58.73 0,32.43 -26.29,58.72 -58.73,58.72 -32.43,0 -58.73,-26.29 -58.73,-58.72 0,-32.44 26.3,-58.73 58.73,-58.73zm-88.22 -69.72l176.44 0c22.13,0 40.23,18.11 40.23,40.24l0 176.43c0,22.13 -18.1,40.23 -40.23,40.23l-176.44 0c-22.13,0 -40.23,-18.1 -40.23,-40.23l0 -176.43c0,-22.13 18.1,-40.24 40.23,-40.24z"/>
	</svg>
</template>