<template>
	<svg
   width="100%"
   height="100%"
   version="1.1"
   fill="currentColor"
   style="clip-rule:evenodd;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
   viewBox="0 0 368.58181 368.59001"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <path
   class="fil0"
   d="m 184.29,0 c 50.89,0 96.97,20.64 130.31,53.99 33.34,33.34 53.99,79.42 53.99,130.31 0,50.8 -20.66,96.85 -54.03,130.25 -33.29,33.39 -79.38,54.03 -130.26,54.03 -50.87,0 -96.96,-20.64 -130.3,-53.99 l -1.43,-1.54 C 20.06,279.78 0.01,234.33 0.01,184.29 0.01,133.4 20.65,87.32 54,53.98 l 1.54,-1.43 C 88.81,20.04 134.27,-0.01 184.3,-0.01 Z m -80.47,251.52 c -7.19,1.46 -14.22,-3.18 -15.68,-10.37 -1.46,-7.19 3.18,-14.22 10.37,-15.68 28.47,-5.89 55.94,-7.44 82.44,-4.92 26.56,2.53 52.14,9.14 76.78,19.52 6.76,2.84 9.94,10.64 7.09,17.4 -2.84,6.76 -10.64,9.94 -17.4,7.09 -22.14,-9.32 -45.12,-15.27 -68.98,-17.54 -23.9,-2.27 -48.77,-0.86 -74.62,4.49 z M 90.62,140.51 c -7.22,1.41 -14.23,-3.3 -15.64,-10.53 -1.41,-7.22 3.3,-14.23 10.53,-15.64 36.43,-7.18 72.25,-8.92 107.43,-5.25 35.19,3.67 69.64,12.75 103.32,27.13 6.76,2.88 9.91,10.7 7.03,17.46 -2.88,6.76 -10.7,9.91 -17.46,7.03 -31.25,-13.35 -63.13,-21.76 -95.6,-25.14 -32.46,-3.39 -65.68,-1.75 -99.61,4.94 z m 4.21,54.67 c -7.22,1.35 -14.18,-3.41 -15.54,-10.63 -1.35,-7.22 3.41,-14.18 10.63,-15.54 34.12,-6.49 66.73,-7.78 97.93,-4.39 31.3,3.41 61.17,11.51 89.72,23.77 6.76,2.88 9.91,10.7 7.03,17.46 -2.88,6.76 -10.7,9.91 -17.46,7.03 -26.19,-11.25 -53.53,-18.68 -82.11,-21.78 -28.67,-3.12 -58.71,-1.91 -90.2,4.08 z m 89.46,-168.5 c 87.05,0 157.61,70.56 157.61,157.61 0,87.04 -70.56,157.6 -157.61,157.6 -87.04,0 -157.6,-70.56 -157.6,-157.6 0,-87.05 70.56,-157.61 157.6,-157.61 z"
   id="path7" />
</svg>

</template>