<template>
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 78.3 67.69"
		xmlns:xlink="http://www.w3.org/1999/xlink"  width="100%" height="100%" fill="currentColor">
		<path class="fil0" d="M66.74 3.53c1.18,-0.45 2.31,-0.99 3.37,-1.6 0.7,-0.47 1.53,-0.77 2.43,-0.85 2.86,-0.25 5.38,1.87 5.63,4.74 0.41,4.77 -0.19,8.55 -1.19,11.43 -0.96,2.77 -2.44,4.84 -3.88,6.28 0.09,9.13 -2.37,17.25 -6.61,23.96 -3.73,5.92 -8.86,10.73 -14.83,14.17 -5.94,3.42 -12.72,5.48 -19.8,5.93 -9.56,0.6 -19.7,-1.71 -29.12,-7.57 -1.81,-0.98 -2.95,-2.99 -2.7,-5.17 0.32,-2.85 2.9,-4.9 5.75,-4.57 3.13,0.37 6.25,0.12 9.2,-0.7l0.02 0c0.84,-0.23 1.66,-0.51 2.47,-0.84 -4.41,-4.64 -8.36,-10.86 -10.92,-17.4 -3.33,-8.51 -4.42,-17.79 -1.35,-25.34 0.31,-0.83 0.84,-1.59 1.58,-2.19 2.22,-1.81 5.49,-1.47 7.3,0.75 3.12,3.83 7.04,7 11.49,9.26 2.66,1.35 5.52,2.38 8.52,3.02 0.34,-2.64 1.24,-5.08 2.54,-7.24 1.86,-3.08 4.56,-5.56 7.67,-7.22 3.11,-1.66 6.66,-2.52 10.24,-2.36 3.74,0.17 7.49,1.42 10.79,3.99l1.41 -0.49zm6.25 2.73c-2.76,1.64 -5.82,2.83 -9.08,3.47 -9.94,-10.59 -27.68,-1.18 -24.37,13.04 -11.89,-0.6 -22.43,-6.29 -29.48,-14.94 -5.52,13.33 5.39,34.65 16.32,41.69 -6.01,4.71 -13.61,6.81 -21.17,5.92 28.72,18.13 64.75,-0.63 62.62,-34.27 1.19,-0.34 6.09,-4.24 5.17,-14.91z"/>
	</svg>
</template>