<template>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 142.24 113.44" xmlns:xlink="http://www.w3.org/1999/xlink">
  <path class="fil0" d="M24.04 0l94.16 0c6.59,0 12.6,2.7 16.95,7.05l0.04 0c4.35,4.35 7.05,10.37 7.05,16.99l0 65.36c0,6.62 -2.7,12.63 -7.05,16.99 -4.35,4.35 -10.37,7.05 -16.99,7.05l-94.16 0c-6.62,0 -12.64,-2.7 -16.99,-7.05 -4.35,-4.35 -7.05,-10.37 -7.05,-16.99l0 -65.36c0,-6.62 2.7,-12.64 7.05,-16.99l0.63 -0.58c4.3,-4.01 10.06,-6.48 16.36,-6.48zm44.12 28.56l28.91 20.83c4.05,2.91 4.96,8.56 2.05,12.6 -0.62,0.86 -1.36,1.57 -2.17,2.14l-29.4 21.18c-4.05,2.91 -9.69,1.99 -12.6,-2.05 -1.15,-1.6 -1.7,-3.45 -1.7,-5.28l-0.03 0 0 -42.55c0,-5 4.06,-9.06 9.06,-9.06 2.25,0 4.31,0.82 5.89,2.18zm-5.89 6.88l29.52 21.27 -29.52 21.27 0 -42.55zm-38.23 -26.31l94.16 0c8.2,0 14.9,6.7 14.9,14.9l0 65.36c0,8.2 -6.71,14.9 -14.9,14.9l-94.16 0c-8.2,0 -14.9,-6.7 -14.9,-14.9l0 -65.36c0,-8.2 6.71,-14.9 14.9,-14.9z"/>
</svg>
</template>