<script setup>
import { RouterView } from 'vue-router'
import Cabecalho from '@/components/leiaute/TheCabecalho.vue'
import Footer from '@/components/leiaute/TheFooter.vue'
import { onMounted } from "vue"

onMounted(() => {
  const importTE = async () => {
    await import("tw-elements");
  };
  importTE();
});
</script>

<template>
  <header>
    <Cabecalho />
  </header>
  <main>
    <RouterView />
  </main>
  <footer>
    <Footer />
  </footer>
</template>

<style scoped>


</style>
