<script setup>
  
</script>

<template>
  <div class="border border-azul-200 dark:border-azul-900 shadow-lg rounded-lg">
    <div class="bg-azul-900 dark:bg-azul-200 text-azul-100 dark:text-azul-900 rounded-t-lg px-3 py-2">
      <span><font-awesome-icon icon="fa-solid fa-video" /></span>
      <h3 class="font-semibold text-azul-200 dark:text-azul-900 inline ml-2">Assista ao vivo</h3>
    </div>
    <div class="p-4">
      <div class="w-full mb-4">
        <img
        class="w-4/5 mx-auto"
        src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaAssista/imagem/banneraovivo6.png" alt="banner da tv ao vivo">
      </div>
      <div class="w-full">
        <img
        class="w-4/5 mx-auto"
        src="@/assets/banner_radio.png" alt="banner da rádio ao vivo">
      </div>
    </div>
  </div>
</template>