<template>
  <Carousel v-bind="settings" :breakpoints="breakpoints" :wrap-around="true" :images="imageUrls" :model-value="1">
    <Slide v-for="slide in imageUrls" :key="slide">
      <img :src="slide" alt="">
    </Slide>
    <template #addons>
      <Navigation />
    </template>
  </Carousel>
</template>

<script setup>
  import {
    defineComponent
  } from 'vue'
  import {
    Carousel,
    Navigation,
    Slide
  } from 'vue3-carousel'
  import '@/assets/carousel.css'

  const imageUrls = [
    '/src/assets/img/artigo5.jpg',
    '/src/assets/img/como-funciona-ai.jpg',
    '/src/assets/img/direito-em-1minuto.jpg',
    '/src/assets/img/economia-sem-dicionario.jpg',
    '/src/assets/img/justica-para-o-futuro.jpg',
  ]

  const component = defineComponent({
    name: 'WrapAround',
    components: {
      Carousel,
      Slide,
      Navigation,
    },
  })

  const settings = {
    itemsToShow: 1,
    snapAlign: 'center',
  }

  const breakpoints = {
    640: {
        itemsToShow: 2,
        snapAlign: 'center',
      },
      960: {
        itemsToShow: 3.2,
        snapAlign: 'start',
      },
  }
</script>

<style>
  .carousel__slide img {
    border-radius: .5rem;
  }
</style>