<template>
  <div
  id="carrosselDestaque"
  class="relative"
  data-te-carousel-init
  data-te-carousel-slide>
  <div
    class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    data-te-carousel-indicators>
    <button
      type="button"
      data-te-target="#carrosselDestaque"
      data-te-slide-to="0"
      data-te-carousel-active
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-te-target="#carrosselDestaque"
      data-te-slide-to="1"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-te-target="#carrosselDestaque"
      data-te-slide-to="2"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
    <button
      type="button"
      data-te-target="#carrosselDestaque"
      data-te-slide-to="3"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 4"></button>
    <button
      type="button"
      data-te-target="#carrosselDestaque"
      data-te-slide-to="4"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 5"></button>
  </div>
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
    <div
      class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-active
      data-te-carousel-item
      style="backface-visibility: hidden">
      <a href="/index/ver-detalhe-programa/idPrograma/214627/youtubeid/" target="_blank" rel="noopener noreferrer">
        <img
          src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaEdicao/imagem/DSFTPTPUTINg.jpg"
          class="block w-full aspect-video max-h-[516px] rounded-lg"
          alt=" Hungria se nega a cumprir mandado de prisão contra Putin"
          title=" Hungria se nega a cumprir mandado de prisão contra Putin" />
      </a>
      <div
        class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl"> Hungria se nega a cumprir mandado de prisão contra Putin</h5>
        <p>
          No Direito sem Fronteiras dessa semana, veja que a Hungria é o primeiro país a anunciar que não vai cumprir o mandado de prisão contra o presidente russo, Vladimir Putin, caso ele visite território húngaro. O mandado foi expedido pelo Tribunal Penal Internacional, com sede em Haia, na Holanda. Não perca! 
          <strong>Exibição inédita, ao vivo: </strong>27/3, às 20h. <strong>Reapresentações:</strong> 28/3, às 5h; 29/3, às 11h30; 30/3, às 11h30 e 21h30; 31/3, às 6h; 1º/4, às 5h; 2/4, às 00h30, 6h30 e 20h; e 3/4, às 11h.
        </p>
      </div>
    </div>
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="backface-visibility: hidden">
      <a href="/index/ver-detalhe-programa/idPrograma/212879/youtubeid/" target="_blank" rel="noopener noreferrer">
        <img
          src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaEdicao/imagem/a5direitoculturaG.jpg"
          class="block w-full aspect-video max-h-[516px] rounded-lg"
          alt=" Artigo 5º é sobre o direito à cultura "
          title=" Artigo 5º é sobre o direito à cultura " />
      </a>
      <div
        class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl"> Artigo 5º é sobre o direito à cultura </h5>
        <p>
          A cultura está relacionada ao conhecimento, valor essencial para o desenvolvimento da sociedade. No programa desta semana, vamos falar sobre esta importante ferramenta na formação pessoal, moral e intelectual do indivíduo.&nbsp;<strong>Exibição inédita: </strong>28/3, às 13h30. <strong>Reapresentações:</strong> 29/3, às 6h; 30/3, 18h; 31/3, às 5h30 e 20h30; 1º/4, às 8h30, 15h30 e 23h; 2/4, às 5h e 20h30; 3/4, às 5h; e 4/4, às 6h.
        </p>
      </div>
    </div>
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="backface-visibility: hidden">
      <a href="/index/ver-detalhe-programa/idPrograma/212891/youtubeid/" target="_blank" rel="noopener noreferrer">
        <img
          src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaEdicao/imagem/sdmichellemarryG.jpg"
          class="block w-full aspect-video max-h-[516px] rounded-lg"
          alt=" Tema do Saber Direito é a nova Lei de Licitações e Contratos "
          title=" Tema do Saber Direito é a nova Lei de Licitações e Contratos " />
      </a>
      <div
        class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl"> Tema do Saber Direito é a nova Lei de Licitações e Contratos </h5>
        <p>
          O Saber Direito desta semana vai apresentar um curso sobre a nova Lei de Licitações e Contratos, com a professora Michelle Marry. Durante as cinco aulas, vão ser abordados o planejamento da contratação, a governança e a gestão de riscos. <strong>Exibição inédita: </strong>27/3/23 a 31/3/23, às 8h. <strong>Reapresentações:</strong> 27/3/23 a 31/3/23, às 23h30 e em 2/4/23 às 8h, 9h15, 10h30, 11h45 e 13h.
        </p>
      </div>
    </div>
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="backface-visibility: hidden">
      <a href="/index/ver-detalhe-programa/idPrograma/250340/youtubeid/" target="_blank" rel="noopener noreferrer">
        <img
          src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaEdicao/imagem/docpopulacaoderuaG.jpg"
          class="block w-full aspect-video max-h-[516px] rounded-lg"
          alt=" Como acolher quem vive em situação de rua "
          title=" Como acolher quem vive em situação de rua " />
      </a>
      <div
        class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl bg-azulescuro-900 opacity-70"> Como acolher quem vive em situação de rua </h5>
        <p class="bg-azulescuro-900 opacity-70">
          O documentário "População em Situação de Rua" mostra um panorama da realidade brasileira e iniciativas que vêm sendo desenvolvidas para assegurar direitos da população de rua. <strong>Exibição inédita:</strong> 26/3, às 22h. <strong>Reapresentações:</strong> 29/3, às 7h30 e 18h; 30/3, às 20h30; 31/3, às 22h30; 1º/4 às 9h; 2/4, às 22h; 5/4, às 7h30 e 18h; 6/4, às 20h30; 7/4, às 22h30; e 8/4 às 9h.
        </p>
      </div>
    </div>
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="backface-visibility: hidden">
      <a href="/index/ver-detalhe-programa/idPrograma/212889/youtubeid/" target="_blank" rel="noopener noreferrer">
        <img
          src="http://www.stf.jus.br/repositorio/cms/portalTvJustica/portalTvJusticaEdicao/imagem/GRAVIDEZADOLESCENCIA.jpg"
          class="block w-full aspect-video max-h-[516px] rounded-lg"
          alt=" Repórter Justiça fala sobre a gravidez na adolescência "
          title=" Repórter Justiça fala sobre a gravidez na adolescência " />
      </a>
      <div
        class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
        <h5 class="text-xl"> Repórter Justiça fala sobre a gravidez na adolescência </h5>
        <p>
          No Brasil, os casos de gravidez na adolescência vêm caindo a cada ano. De 2019 para cá, diminuíram 18%, mas o número ainda é bastante expressivo: 380 mil. Os casos mais comuns são de mães entre quinze e dezenove anos. O Repórter Justiça desta semana mostra os desafios de uma gestação precoce. A OMS considera gravidez na adolescência quando ela ocorre entre os 10 e 20 anos de idade. Nessa faixa etária, a gestação é considerada de risco. <strong>Exibição inédita</strong>: 24/3, às 21h. <strong>Reapresentações</strong>: 25/3, às 4h e às 20h30; 26/3, às 18h30; 27/3, às 20h30; 28/03, às 9h30 e às 21h; 29/3, às 13h30 e 30/3, às 12h.
        </p>
      </div>
    </div>
  </div>
  <button
    class="absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#carrosselDestaque"
    data-te-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <button
    class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#carrosselDestaque"
    data-te-slide="next">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
</div>
</template>