<script setup>
 import { defineComponent } from 'vue'
import { Carousel, Navigation, Pagination, Slide } from 'vue3-carousel'

import '@/assets/carousel.css'

const component =  defineComponent({
  name: 'WrapAround',
  components: {
    Carousel,
    Slide,
    slides: {
      img: [
        'a',
        'b',
        'c',
        'd',
        'e',
        'f',
      ],
    },
    Navigation,
    Pagination,
  },
})
</script>

<template>
 <Carousel :items-to-show="2.75" :wrap-around="true" :snap-align="end" :autoplay="5000" :model-value="1" :pause-autoplay-on-hover="true">
    <Slide v-for="slide in slides" :key="slide.img">
      <div class="carousel__item">{{ slide }}
        <img :src="slide.img" alt="">
      </div>
    </Slide>

    <template #addons>
      <Navigation />
      <Pagination />
    </template>
  </Carousel>
</template>
<style scoped>
 .carousel__track {
      gap: 1rem;
    }

    .carousel__slide {
      background-color: #00ff00;
      min-height: 10rem;
      border: 1px solid #000;
      min-width: 10rem;
    }
</style>