<template>
  <div class="flex justify-center">
  <div class="xl:w-80">
    <div class="relative flex w-full flex-wrap items-stretch">
      <input
        type="search"
        class="relative m-0 -mr-px block w-[1%] min-w-0 flex-auto rounded-l border border-solid border-java-50 dark:border-java-50 bg-transparent bg-clip-padding px-3 py-1.5 text-base font-normal text-java-800 dark:text-java-200 outline-none transition duration-300 ease-in-out focus:border-rt-tertiary focus:text-java-800 focus:shadow-te-rt-tertiary focus:outline-none placeholder:text-java-200 dark:text-java-200 dark:placeholder:text-java-200"
        placeholder="Faça sua busca..."
        aria-label="Search"
        aria-describedby="button-addon1" />
      <button
        class="relative z-[2] flex items-center rounded-r bg-rt-tertiary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-java-700 hover:shadow-lg focus:bg-java-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-java-800 active:shadow-lg"
        type="button"
        id="button-addon1"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</div>
</template>